body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url(img/office.jpg);
  background-size: cover;

}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:0px solid red;
  border-radius:0px;
  position:absolute;
  width: 60px;
  height: 54px;
  background-image: url(img/CryingMan.jpg);
}
/*
.dancer:hover {
  border:30px solid red;
  border-radius:30px;
  position:absolute;
}
*/
.bouncyDancer.dancer{
  border:0px solid blue;
  border-radius:none;
  position:absolute;
  animation-duration: 5s;

  animation-name: bounce;
  animation-iteration-count: infinite;
  width: 60px;
  height: 75px;
  background-image: url(img/GreenShirt.jpg);


}

.shrinkyDancer.dancer{
  border:0px solid orange;
  border-radius:none;
  position:absolute;
  animation-duration: 5s;

  animation-name: bounceIn;
  animation-iteration-count: infinite;
  width: 60px;
  height: 85px;
  background-image: url(img/RunningMan.jpg);

}

.mouseOverMe {
  height: 8%;
  width: 8%;
  position:absolute;
  background-size: contain;

}
/*
.bouncyDancer:hover {
  border: 20px;
}
*/
.pair{
  width: 60px;
  height: 85px;
  border: 2px solid black;
  position:absolute;
  border-radius: 10px;
  /*background-image: url(img/CryingMan.jpg);*/
}

.pair:hover {
  border: 20px;
}


@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
 50% {
    transform: scale(2);
    opacity: 1;
  }
 100% {
    transform: scale(0.5);
    opacity: 1;

  }
}

@keyframes bounce {
  from, to {
    top: 0;
    animation-timing-function: ease-out;
  }
  50% {
    top: 768px;
    animation-timing-function: ease-in;
  }
}